.card-view{
  .header{
    .title{
      padding: 0;
      .selected{
        font-family: FontAwesome;
        font-size: $card-select-font-size;
        width: $card-select-font-size;
        display: inline-block;
        text-align: left;
      }
      .text{
        display: inline-block;
        vertical-align: middle;
        padding-bottom: $card-name-padding-bottom;
        margin-left: 10px;
        .side-front{
          border-top: solid 2px $header-border-color;
        }
        .side-back{
          border-bottom: solid 2px $header-border-color;
        }
      }
    }
  }
  .content {
    .card-side {
      positions: relative;
      text-align: center;
      .reviews {
        position: absolute;
        left: 0;
        top: $header-height + $button-height;
        font-family: FontAwesome;
        font-size: $card-reviews-font-size;
        padding: 10px 0 0 10px;
      }
      .top,
      .bottom {
        font-style: italic;
        font-size: $card-notes-text-font-size;
      }
      .text{
        font-weight: bold;
        font-size: $card-text-font-size;
      }
    }
  }
}
