.dialog {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  background-color: $menu-background-color;
  color: $menu-color;
  padding: $dialog-padding;
  min-width: $dialog-min-width;
  .title {
    height: $button-height + (2 * $button-padding);
    font-size: $dialog-title-font-size;
    .text {
      height: $dialog-title-height;
      overflow: hidden;
      text-overflow:ellipsis;  
    }
    .close {
      float: right;
      @include square-button();
    }  
  }
  .line {
    font-size: $dialog-line-font-size;
    .label {
      display: inline-block;
      width: $dialog-line-label-width;
      font-weight: bold;
    }
  }
}
