.dialog {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  max-height: 80%;
  background-color: $menu-background-color;
  color: $menu-color;
  min-width: $dialog-min-width;
  overflow-y: scroll;
  .header{
    height: $header-height;
    padding: $header-padding;
    border-bottom: solid $header-border $header-border-color;
    text-align: center;
    font-size: $header-font-size;
    font-weight: normal;
    overflow: hidden;
    .title {
      padding-top: $dialog-title-padding-top;
      overflow: hidden;
      text-overflow:ellipsis; 
      height: $dialog-title-height; 
    }
    .close {
      float: right;
      @include square-button();
      margin: 0;
    }  
  }
  .content{
    padding: $dialog-content-padding;
    .button {
      @include button();
      .checkbox {
        float: left;
        font-family: FontAwesome;
        font-size: $dialog-button-checkbox-height !important;
        width: $dialog-button-checkbox-height;
        text-align: left;
      }
    }
    .commands {
      .button{
        width: 100px;
        margin: 0 auto;
      }
    }
    .errors {
      color: $error-color;
      font-size: $notification-font-size;
    }
    .result {
      color: $success-color;
      font-size: $notification-font-size;
    }
  }
}