<div class="header">
	<div class="button close fa-ban"></div>
	<div class="title">Create backup</div>
	<div class="clearfix"></div>
</div>
<div class="content">
	<div class="errors hidden"></div>
	<div class="editor">
		Backup name:
		<input type="text" class="new-item-name" value="<%= defaultName%>"/>	
	</div>
	<div class="result hidden">
		Backup created with name: <span class="backup-name"></span>
	</div>
	<div class="commands">
		<div class="button create">
			create
			<div class="loading"></div>
		</div>
	</div>
</div>
