<div class="header">
	<div class="button close fa-ban"></div>
	<div class="title">Deck Information</div>
	<div class="clearfix"></div>
</div>
<div class="content">
	<div class="line">
		<span class="label">Name:</span>
		<span class="value"><%= name %></span>
	</div>
	<div class="line">
		<span class="label">Language:</span>
		<span class="value"><%= lang %></span>
	</div>
	<div class="line">
		<span class="label">Cards total:</span>
		<span class="value"><%= cardsCount %></span>
	</div>
	<div class="line">
		<span class="label">Cards selected:</span>
		<span class="value"><%= cardsSelected %></span>
	</div>
</div>
