<div class="header">
	<div class="button close fa-ban"></div>
	<div class="title">Backup Restore</div>
	<div class="clearfix"></div>
</div>
<div class="content">
	<div class="errors hidden"></div>
	<div class="loading-info">
		<div class="message">Connecting to the server <span class="connecting"></span></div>
	</div>
	<div class="backups hidden">
		<div class="message">Select backup to restore:</div>
		<div class="backups-list"></div>
    	<div class="commands">
    		<div class="button restore">
    			restore
    			<div class="loading"></div>
    		</div>
    	</div>
	</div>
</div>
