<div class="list-items">
	<div class="current-dir" data-dir="<%= dir %>">
		<div class="marker fa-folder-open"></div>
		<div class="value"><%= dir %></div>
	</div>
	<% if(parentDir){ %>
		<div class="dir button parent" data-dir="<%= parentDir %>">..</div>
	<% } %>
	<% _.each(list, function(entry){ %>
		<% if(entry.isDir){ %>
			<div class="dir button" data-dir="<%= entry.name %>">
				<div class="marker fa-folder"></div>
				<div class="value"><%= entry.name %></div>
			</div>
		<% }else{ %>
			<div class="file button" data-file="<%= entry.name %>">
				<div class="marker fa-square-o"></div>
				<div class="value"><%= entry.name %></div>
			</div>
		<% } %>
	<% }); %>
</div>