.dialog {
  .content {
    .message{
      text-align: center;
      .connecting {
        display: inline-block;
        width: 16 * $px;
        height: 11 * $px;
        background-image: inline-image('ajax-pulse.gif');
      }
    }
    .button{
      position: relative;
      @include button();
      .loading{
        position: absolute;
        left: 5 * $px;
        bottom: 5 * $px;
        width: 16 * $px;
        height: 11 * $px;
      }
      .loading-active {
        background-image: inline-image('ajax-pulse.gif');
      }
    }
  }
}
