.menu-view {
  .menu{
    position: absolute;
    right: 0;
    top: $header-height + ($button-padding * 2) + $header-border;
    width: $menu-width;
    background-color: $menu-background-color;
    color: $menu-color;
    overflow-y: scroll;
    .menu-item {
      border-bottom: solid 1 * $px $menu-border-color;
      font-size: $menu-item-font-size;
      padding: $menu-padding;
    }
  }
  .overlay {
    @include overlay;
  }
}
