@import "compass/css3/flexbox";

.card-view{
  .header{
    .title{
//      padding: 0;
      .text{
        display: inline-block;
        vertical-align: middle;
//        padding-bottom: $card-name-padding-bottom;
        margin-left: 10px;
        .side-front{
          border-top: solid 2px $header-border-color;
        }
        .side-back{
          border-bottom: solid 2px $header-border-color;
        }
      }
    }
  }
  .content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    .selected{
      position: absolute;
      left: $header-padding;
      top: $header-padding;
      font-family: FontAwesome;
      font-size: $card-select-font-size;
      width: $card-select-font-size * 1.5;
      height: $card-select-font-size * 1.5;
      display: inline-block;
      text-align: left;
    }

    .card-side {
      width: 100%;
      height: 100%;
      positions: relative;
      text-align: center;
      @include display-flex;
      @include flex-direction(column);
      .reviews {
        position: absolute;
        left: $card-select-font-size + $header-padding;
        top: $card-review-sign-top;
        font-family: FontAwesome;
        font-size: $card-reviews-font-size;
      }
      .placeholder {
        @include flex-grow(1);
      }
      .top,
      .bottom {
        font-style: italic;
        font-size: $card-notes-text-font-size;
      }
      .text{
        //font-weight: bold;
        font-size: $card-text-font-size;
      }
    }
  }
}
