/* line 2, ../sass/index.scss */
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 42, ../sass/index.scss */
body {
  background-color: #222222;
}

/* line 46, ../sass/index.scss */
.screen {
  width: 100%;
  height: 100%;
}
/* line 49, ../sass/index.scss */
.screen .clearfix {
  clear: both;
}
/* line 52, ../sass/index.scss */
.screen .header {
  height: 44px;
  padding: 12px;
  border-bottom: solid 2px #444444;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: white;
  background-color: #222222;
}
/* line 55, ../sass/index.scss */
.screen .header .back-button,
.screen .header .menu-button {
  font-family: FontAwesome;
  font-size: 22px !important;
  height: 20px;
  width: 20px;
  padding: 10px;
  border: solid 1px #dddddd;
  border-radius: 0.5em;
}
/* line 64, ../sass/index.scss */
.screen .header .title {
  padding: 8px;
}
/* line 68, ../sass/index.scss */
.screen .content {
  color: white;
  padding: 4px;
  background-color: #222222;
}
/* line 72, ../sass/index.scss */
.screen .content .button {
  height: 20px;
  min-width: 40px;
  border: solid 1px #dddddd;
  border-radius: 0.5em;
  margin: 0.5em 0;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
/* line 82, ../sass/index.scss */
.screen .content .button.disabled {
  color: #555555;
  border-color: #555555;
}
/* line 87, ../sass/index.scss */
.screen .right {
  float: right;
}
/* line 90, ../sass/index.scss */
.screen .left {
  float: left;
}

/* line 5, ../sass/_decks-list.scss */
.decks-list .edit,
.decks-list .add-deck,
.decks-list .cancel-edit,
.decks-list .remove-deck {
  font-family: FontAwesome;
  font-size: 22px !important;
}
/* line 9, ../sass/_decks-list.scss */
.decks-list .separator {
  width: 100%;
  height: 40px;
  margin: 0.5em 0;
}
/* line 15, ../sass/_decks-list.scss */
.decks-list .separator .separator-line .separator-half {
  margin-right: 70px;
  height: 20px;
  border-bottom: solid 1px #444444;
}
/* line 21, ../sass/_decks-list.scss */
.decks-list .separator .new-deck-editor {
  width: 100%;
  display: none;
}
/* line 24, ../sass/_decks-list.scss */
.decks-list .separator .new-deck-editor .editor {
  margin-right: 70px;
  margin-left: 70px;
  padding: 0 7px 0 0px;
}
/* line 28, ../sass/_decks-list.scss */
.decks-list .separator .new-deck-editor .editor input {
  width: 98%;
  height: 35px;
  font-size: 18px;
  border-radius: 0.5em;
  padding: 1px 1%;
}
/* line 38, ../sass/_decks-list.scss */
.decks-list .separator .button {
  margin: 0;
  width: 40px;
  height: 20px;
}
/* line 43, ../sass/_decks-list.scss */
.decks-list .separator tr {
  height: 46px;
  padding: 0;
}
/* line 48, ../sass/_decks-list.scss */
.decks-list .deck {
  margin: 10px 0;
}
/* line 51, ../sass/_decks-list.scss */
.decks-list .deck .button {
  margin: 0;
}
/* line 55, ../sass/_decks-list.scss */
.decks-list .deck .edit-deck,
.decks-list .deck .remove-deck {
  display: none;
}
/* line 61, ../sass/_decks-list.scss */
.decks-list .edit-mode .separator-line {
  display: none;
}
/* line 65, ../sass/_decks-list.scss */
.decks-list .edit-mode .new-deck-editor,
.decks-list .edit-mode .deck {
  display: block;
}
/* line 68, ../sass/_decks-list.scss */
.decks-list .edit-mode .new-deck-editor .editor,
.decks-list .edit-mode .new-deck-editor .deck-button,
.decks-list .edit-mode .deck .editor,
.decks-list .edit-mode .deck .deck-button {
  margin-right: 70px;
}
/* line 72, ../sass/_decks-list.scss */
.decks-list .edit-mode .new-deck-editor .edit-deck,
.decks-list .edit-mode .new-deck-editor .remove-deck,
.decks-list .edit-mode .deck .edit-deck,
.decks-list .edit-mode .deck .remove-deck {
  display: block;
}

/* line 3, ../sass/_card-view.scss */
.card-view .header .title {
  padding: 0;
}
/* line 5, ../sass/_card-view.scss */
.card-view .header .title .selected {
  font-family: FontAwesome;
  font-size: 50px;
}
/* line 9, ../sass/_card-view.scss */
.card-view .header .title .text {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 35px;
  margin-left: 10px;
}
/* line 18, ../sass/_card-view.scss */
.card-view .content .card-side {
  text-align: center;
}
/* line 20, ../sass/_card-view.scss */
.card-view .content .card-side .top {
  font-style: italic;
  font-size: 20px;
}
/* line 24, ../sass/_card-view.scss */
.card-view .content .card-side .text {
  font-weight: bold;
  font-size: 22px;
}
